<!-- Уведомления-->
<div class="mt-4">
    <h4>Список уведомлений</h4>
    {% if alerts %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for alert in alerts %}
            <div class="col">
                <div class="card h-100 border-{{ 'success' if alert.status == 1 else 'danger' }}">
                    <div class="card-header bg-{{ 'success' if alert.status == 1 else 'danger' }} text-white">
                        <h5 class="card-title mb-0">
                            {% if alert.type == 'gps' %}
                                Нет координат: {{ alert.data }}
                            {% elif alert.type == 'distance' %}
                                В {{ alert.data }} км от положенного места
                            {% elif alert.type == 'no_equipment' %}
                                Нет оборудования: {{ alert.data }}
                            {% elif alert.type == 'not_work' %}
                                Оборудование {{ alert.data }} не в сети
                            {% else %}
                                {{ alert.data }}
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{ alert.date | unix_to_datetime }}</small>
                        <span class="badge bg-{{ 'success' if alert.status == 1 else 'danger' }}">
                            {{ 'Решено' if alert.status == 1 else 'Активно' }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>По этой ТС нет уведомлений от виртуального диспетчера</p>
    {% endif %}
</div>
