{% extends 'main.html' %}

{% block title %}
Карточка лота
{% endblock %}

{% block body %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<div class="row mt-4">

</div>
<div class="container-xl mt-4">
    <div class="row">
        <div class="col">
            <h2>{{ car_name }}</h2>
            {% if wialon %}
                <p class="text-muted">{{ wialon[0].last_time | online_check }}</p>
            {% else %}
                <p class="text-muted">unknown</p>
            {% endif %}
        </div>
    </div>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <br><br>
    <div class="row mt-4">
        <div class="col-12">
            {% if wialon %}
            <h4>Wialon</h4>
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Название объекта</th>
                        <th>IMEI</th>
                        <th>Последний онлайн</th>
                        <th>Координаты (GPS/GNSS)</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in wialon %}
                    <tr>
                        <td>{{ item.nm }}</td>
                        <td>{{ item.uid }}</td>
                        <td>{{ item.last_time | unix_to_datetime }}</td>
                        <td>{{ item.pos_y }}, {{ item.pos_x }} ({{ item.gps }})</td>
                        <td>{{ (item.pos_y, item.pos_x) | get_address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="col-12">
            {% if cesar %}
            <h4>Цезарь</h4>
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Название объекта</th>
                        <th>PIN</th>
                        <th>Последний онлайн</th>
                        <th>Координаты</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cesar %}
                    <tr>
                        <td>{{ item.object_name }}</td>
                        <td>{{ item.pin }}</td>
                        <td>{{ item.last_time | unix_to_datetime }}</td>
                        <td>{{ item.pos_x }}, {{ item.pos_y }}</td>
                        <td>{{ (item.pos_x, item.pos_y) | get_address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="row mt-4">
        <div class="btn-group d-flex" role="group">
            <a href="#info" class="btn btn-outline-primary" id="info-tab">Инфо</a>
            {% if wialon %}
            <a href="#sensors" class="btn btn-outline-primary" id="sensors-tab">Датчики</a>
            {% endif %}
            <a href="#transitions" class="btn btn-outline-primary" id="transitions-tab">Переходы</a>
            <a href="#alerts" class="btn btn-outline-primary" id="alerts-tab">Опасности</a>
            <a href="#comments" class="btn btn-outline-primary" id="comments-tab">Комментарии</a>
            <a href="#car_history" class="btn btn-outline-primary" id="car_history">История передвижения</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="tab-content" id="tab-content">
            <div class="tab-pane" id="info-content">
                {% include 'pages/car/info.html' %}
            </div>
            <div class="tab-pane" id="sensors-content">
                {% include 'pages/car/sensors.html' %}
            </div>
            <div class="tab-pane" id="transitions-content">
                {% include 'pages/car/transitions.html' %}
            </div>
            <div class="tab-pane" id="alerts-content">
                {% include 'pages/car/alerts.html' %}
            </div>
            <div class="tab-pane" id="comments-content">
                {% include 'pages/car/comments.html' %}
            </div>
            <div class="tab-pane" id="car_history-content">
                {% include 'pages/car/car_history.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Основной скрипт для переключения вкладок -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        handleTabSwitching();
    });

    function handleTabSwitching() {
        const tabs = document.querySelectorAll('.btn-group .btn');
        const tabContent = document.querySelectorAll('.tab-pane');

        function showTab(tab) {
            tabs.forEach(tab => {
                tab.classList.remove('btn-primary');
                tab.classList.add('btn-outline-primary');
            });

            tab.classList.remove('btn-outline-primary');
            tab.classList.add('btn-primary');

            const tabName = tab.getAttribute('href').substring(1);
            tabContent.forEach(content => {
                if (content.getAttribute('id') === `${tabName}-content`) {
                    content.classList.add('active');
                } else {
                    content.classList.remove('active');
                }
            });
        }

        // Show tab based on URL hash
        const currentHash = window.location.hash || '#info';
        const initialTab = document.querySelector(`.btn[href="${currentHash}"]`);
        if (initialTab) {
            showTab(initialTab);
        }

        // Add click event to tabs
        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();
                showTab(tab);
                window.location.hash = tab.getAttribute('href');
            });
        });
    }
</script>


{% include 'pages/car/ya_maps.html' %}

{% endblock %}
