<div class="container mt-4">
    <button type="button" class="btn btn-secondary mb-3" id="refreshSensorsBtn">Обновить</button>
    <div class="alert alert-info" id="loadingIndicator" style="display: none;">
        Обновление данных, пожалуйста, подождите...
    </div>
    <div class="row" id="sensorsContainer">
        {% if wialon_sens %}
            {% for id, sensor in wialon_sens.items() %}
            <div class="col-md-4 mb-3 sensor-card" data-sensor-id="{{ id }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Датчик {{ id }} - {{ sensor }}</h5>
                        <p class="card-value">Значение: <span class="value-placeholder">Нажмите кнопку "Обновить"</span></p>
                        <div class="modal fade" id="sensorInfoModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="sensorInfoModalLabel{{ id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="sensorInfoModalLabel{{ id }}">Детали датчика {{ id }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Информация о датчике: {{ sensor }}</p>
                                        <!-- Дополнительные данные о датчике -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    Датчики не найдены.
                </div>
            </div>
        {% endif %}
    </div>

    <h3 class="mt-5 mb-4">Команды</h3>
    <div class="row">
        <div class="col-12">
            {% if wialon_cmd %}
                <div role="group">
                    {% for id, command in wialon_cmd.items() %}
                        <button type="button" class="btn btn-secondary mb-3 command-btn" data-command="{{ command }}" data-unit-id="{{ wialon[0].id }}">
                            {{ command }}
                            <!-- Добавляем круг загрузки, который будет виден только при выполнении команды -->
                            <span class="spinner-border spinner-border-sm ms-2 loading-spinner" style="display: none;" role="status" aria-hidden="true"></span>
                        </button>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Команды не найдены.
                </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- Скрипт для выполнения команд и обновления данных датчиков -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        handleCommandButtons();
        handleRefreshSensors();
    });

    function handleCommandButtons() {
        const commandButtons = document.querySelectorAll('.command-btn');

        commandButtons.forEach(button => {
            button.addEventListener('click', function () {
                const commandName = button.getAttribute('data-command');
                const unitId = button.getAttribute('data-unit-id');
                const spinner = button.querySelector('.loading-spinner'); // Находим индикатор загрузки внутри кнопки

                // Показываем индикатор загрузки на кнопке
                spinner.style.display = 'inline-block';

                fetch(`/api/wialon_exec_cmd/${unitId}/${commandName}`)
                    .then(response => response.json())
                    .then(data => {
                        // Скрываем индикатор загрузки после завершения команды
                        spinner.style.display = 'none';

                        if (data.status === 'OK') {
                            alert(`Команда ${commandName} выполнена успешно`);
                            refreshSensors(); // Вызов обновления датчиков
                        } else {
                            alert(`Ошибка при выполнении команды ${commandName}: ${data.error || 'Неизвестная ошибка'}`);
                        }
                    })
                    .catch(error => {
                        // Скрываем индикатор загрузки при ошибке
                        spinner.style.display = 'none';

                        alert(`Ошибка при выполнении команды ${commandName}: ${error.message || 'Неизвестная ошибка'}`);
                    });
            });
        });
    }

    // Вызываем обновление датчиков напрямую, без кнопки
    function refreshSensors() {
        const unitId = "{{ wialon[0].id if wialon|length > 0 else 'undefined' }}"; // Проверяем, существует ли элемент
        const loadingIndicator = document.getElementById('loadingIndicator');

        if (unitId === 'undefined') {
            alert('Не удалось получить идентификатор устройства.');
            return;
        }

        loadingIndicator.style.display = 'block'; // Показываем индикатор загрузки

        fetch(`/api/wialon_get_sensor/${unitId}/`)
            .then(response => response.json())
            .then(data => {
                updateSensors(data);
                loadingIndicator.style.display = 'none'; // Скрываем индикатор загрузки
            })
            .catch(error => {
                alert(`При обновлении датчиков произошла ошибка: ${error.message || 'Неизвестная ошибка'}`);
                loadingIndicator.style.display = 'none'; // Скрываем индикатор загрузки
            });
    }

    // Изначально оставляем логику обработки клика на кнопку обновления
    function handleRefreshSensors() {
        const refreshBtn = document.getElementById('refreshSensorsBtn');
        refreshBtn.addEventListener('click', function () {
            refreshSensors(); // Вызываем обновление при клике на кнопку
        });
    }

    function updateSensors(data) {
        const sensorsContainer = document.getElementById('sensorsContainer');
        const sensorCards = sensorsContainer.querySelectorAll('.sensor-card');

        sensorCards.forEach(card => {
            const sensorId = card.getAttribute('data-sensor-id');
            const newValue = data[sensorId];

            const valuePlaceholder = card.querySelector('.value-placeholder');
            if (newValue === undefined) {
                valuePlaceholder.innerText = 'Неизвестное значение';
            } else if (newValue < -1) {
                valuePlaceholder.innerText = 'Ошибка сервера Wialon';
            } else {
                valuePlaceholder.innerText = newValue;
            }
        });
    }

</script>

