<div class="table-responsive mt-4">
    <table id="transfersTable" class="table table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Дата перехода</th>
                <th>Тип</th>
                <th>Старое значение</th>
                <th>Новое значение</th>
            </tr>
        </thead>
        <tbody>
            {% if transfers %}
                {% for transfer in transfers %}
                    <tr>
                        <td>{{ transfer.date | unix_to_datetime }}</td>
                        <td>
                            {% if transfer.old_storage != transfer.new_storage %}
                                Перемещение по складу
                            {% elif transfer.old_manager != transfer.new_manager %}
                                Изменение менеджера
                            {% elif transfer.old_client != transfer.new_client %}
                                Изменение клиента
                            {% else %}
                                Неизвестный тип
                            {% endif %}
                        </td>
                        <td>
                            {% if transfer.old_storage != transfer.new_storage %}
                                {{ transfer.old_storage | storage_id_to_name or '—' }}
                            {% elif transfer.old_manager != transfer.new_manager %}
                                {{ transfer.old_manager or '—' }}
                            {% elif transfer.old_client != transfer.new_client %}
                                {{ transfer.old_client or '—' }}
                            {% else %}
                                —
                            {% endif %}
                        </td>
                        <td>
                            {% if transfer.old_storage != transfer.new_storage %}
                                {{ transfer.new_storage | storage_id_to_name or '—' }}
                            {% elif transfer.old_manager != transfer.new_manager %}
                                {{ transfer.new_manager or '—' }}
                            {% elif transfer.old_client != transfer.new_client %}
                                {{ transfer.new_client or '—' }}
                            {% else %}
                                —
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Нет данных для отображения</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
