<script type="text/javascript">
    ymaps.ready(initMap);

    function initMap() {
        var myMap = new ymaps.Map("map", {
            center: [55.751574, 37.573856],
            zoom: 3,
            controls: ['zoomControl', 'fullscreenControl', 'typeSelector', 'rulerControl']
        });

        addIgnoredStorageMarks(myMap);
        addWorkPlaceMark(myMap);
        addCesarMarks(myMap);
        addWialonMarks(myMap);
    }

    function addIgnoredStorageMarks(map) {
        {% for item in ignored_storages %}
        // Добавляем круг (радиус в метрах)
        var circle = new ymaps.Circle(
            [
                [{{ item.pos_x }}, {{ item.pos_y }}], // Координаты центра
                {{ item.radius*1000 }} // Радиус
            ],
            {
                hintContent: 'Игнорируемая зона',
                balloonContent: '{{ item.named }}'
            },
            {
                fillColor: "#FF000050", // Полупрозрачный красный цвет
                strokeColor: "#FF0000", // Красная граница
                strokeWidth: 2 // Толщина границы
            }
        );
        map.geoObjects.add(circle);

        // Добавляем метку в центр круга
        var placemark = new ymaps.Placemark(
            [{{ item.pos_x }}, {{ item.pos_y }}],
            {
                hintContent: 'Метка игнорируемой зоны',
                balloonContent: '{{ item.named }}'
            },
            {
                preset: 'islands#darkGreenDotIcon'
            }
        );
        map.geoObjects.add(placemark);
        {% endfor %}
    }

    function addWorkPlaceMark(map) {
        {% if car.x != 0 %}
        var workPlaceMark = new ymaps.Placemark([{{ car.x }}, {{ car.y }}], {
            hintContent: 'Место работы',
            balloonContent: 'Здесь работает автомобиль'
        },
            {
                preset: `islands#redDotIcon`,
                iconCaptionMaxWidth: '150', // Ограничиваем ширину подписи
            }
        );
        map.geoObjects.add(workPlaceMark);
        {% endif %}
    }

    function addCesarMarks(map) {
        {% for item in cesar %}
        var cesarMark = new ymaps.Placemark([{{ item.pos_x }}, {{ item.pos_y }}], {
            hintContent: 'Метка Cesar',
            balloonContent: 'PIN блока: {{ item.pin }}'
        },
            {
                preset: `islands#orangeDotIcon`,
                iconCaptionMaxWidth: '150', // Ограничиваем ширину подписи
            }
        );
        map.geoObjects.add(cesarMark);
        {% endfor %}
    }

    function addWialonMarks(map) {
        {% for item in wialon %}
        var cesarMark = new ymaps.Placemark([{{ item.pos_y }}, {{ item.pos_x }}], {
            hintContent: 'Метка Wialon',
            balloonContent: 'UID блока: {{ item.uid }}'
        },
            {
                preset: `islands#blueDotIcon`,
                iconCaptionMaxWidth: '150', // Ограничиваем ширину подписи
            }
        );
        map.geoObjects.add(cesarMark);
        {% endfor %}
    }
</script>
