<!-- Код для подключения Яндекс карты -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(initMap);

    function initMap() {
        var myMap = new ymaps.Map("map", {
            center: [60, 80],
            zoom: 3
        });

        addWorkPlaceMark(myMap);
        addCesarMarks(myMap);
        addWialonMarks(myMap);
    }

    function addWorkPlaceMark(map) {
        {% if car.x != 0 %}
        var workPlaceMark = new ymaps.Placemark([{{ car.x }}, {{ car.y }}], {
            hintContent: 'Место работы',
            balloonContent: 'Здесь работает автомобиль'
        }, {
            preset: 'islands#yellowIcon'
        });
        map.geoObjects.add(workPlaceMark);
        {% endif %}
    }

    function addCesarMarks(map) {
        {% for item in cesar %}
        var cesarMark = new ymaps.Placemark([{{ item.pos_x }}, {{ item.pos_y }}], {
            hintContent: 'Метка Cesar',
            balloonContent: 'UID блока: {{ item.object_name }}'
        }, {
            preset: 'islands#redIcon'
        });
        map.geoObjects.add(cesarMark);
        {% endfor %}
    }

    function addWialonMarks(map) {
        {% for item in wialon %}
        var wialonMark = new ymaps.Placemark([{{ item.pos_y }}, {{ item.pos_x }}], {
            hintContent: 'Метка Wialon',
            balloonContent: 'UUID блока: {{ item.nm }}'
        });
        map.geoObjects.add(wialonMark);
        {% endfor %}
    }
</script>
