<!-- Добавляем SVG иконки -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="sun-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="..."></path>
    </symbol>
    <symbol id="moon-stars-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="..."></path>
    </symbol>
    <symbol id="circle-half" fill="currentColor" viewBox="0 0 16 16">
        <path d="..."></path>
    </symbol>
    <symbol id="check2" fill="currentColor" viewBox="0 0 16 16">
        <path d="..."></path>
    </symbol>
    <symbol id="chat-right" fill="currentColor" viewBox="0 0 16 16">
       <path d="..."></path>
    </symbol>
    <symbol id="chat-right-dots" fill="currentColor" viewBox="0 0 16 16">
        <path d="..."></path>
    </symbol>
</svg>