{% extends 'main.html' %}

{% block title %}
Тестирование таблицы
{% endblock %}

{% block body %}
<div class="container">
  <h2>Фильтры</h2>
  <form id="filter-form" class="mb-4" method="get" action="">
    <div class="row">
      <div class="col-md-4">
        <label for="filter-nm" class="form-label">nm</label>
        <input type="text" id="filter-nm" name="nm" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="filter-uuid" class="form-label">uuid</label>
        <input type="number" id="filter-uuid" name="uuid" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="filter-last-time-start" class="form-label">last_time (от)</label>
        <input type="date" id="filter-last-time-start" name="last_time_start" class="form-control">
        <label for="filter-last-time-end" class="form-label mt-2">last_time (до)</label>
        <input type="date" id="filter-last-time-end" name="last_time_end" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Применить</button>
  </form>
</div>

  {% include 'table_template.html' %}

{% endblock %}
