{% extends 'main.html' %}

{% block title %}
Объекты на карте
{% endblock %}

{% block body %}
{% include 'pages/maps/css.html' %}

<div class="container-fluid" style="height: calc(100vh - 200px);">
    <div class="d-flex" style="height: 100%; position: relative;">

        <!-- Список машин слева -->
        <div id="carBlock" class="flex-shrink-0" style="width: 300px; height: 100%; overflow-y: auto; padding: 10px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
            <button id="toggleCarsList" class="btn btn-sm btn-outline-primary mb-3" onclick="hideCarsBlock()">
                <i class="bi bi-caret-left-fill"></i> Скрыть
            </button>
            <div class="mb-3">
                <button class="btn btn-sm btn-outline-primary" onclick="toggleAllMarkers(true)">
                    <i class="bi bi-check-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary ms-2" onclick="toggleAllMarkers(false)">
                    <i class="bi bi-x-circle"></i>
                </button>
                <button class="btn btn-sm btn-outline-info ms-2" data-bs-toggle="modal" data-bs-target="#filterModal">
                    <i class="bi bi-funnel"></i> <!-- Кнопка фильтра -->
                </button>
                <button class="btn btn-sm btn-outline-secondary float-end" onclick="updateCarList();">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
            <input type="text" id="carSearch" class="form-control" placeholder="Поиск по машинам" onkeyup="filterCars()">
            <div id="loadingIndicator" class="alert alert-light" style="display: none;">
                <strong>Обновление данных...</strong>
            </div>
            <ul id="carList" class="list-group mt-2"></ul>
        </div>

        <!-- Кнопка для раскрытия блока -->
        <div id="showCarsList" style="display: none; width: 40px; height: 100%; background-color: #007bff; color: white; cursor: pointer; display: flex; align-items: center; justify-content: center;" onclick="showCarsBlock()">
            <i class="bi bi-caret-right-fill"></i>
        </div>

        <!-- Карта -->
        <div id="mapContainer" class="flex-grow-1" style="height: 100%;">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</div>




<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% include 'pages/maps/modal_window.html' %}
{% include 'pages/maps/script_block.html' %}
{% include 'pages/maps/script_map.html' %}
{% endblock %}


