{% extends "main.html" %}

{% block body %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-theme-primary text-theme-secondary d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Оборудование Wialon</h3>
                    <i class="bi bi-truck"></i>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-success text-white rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Оборудование считается онлайн, если отбивалось последние 15 минут">
                                    <i class="bi bi-wifi"></i> Онлайн
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ wialon['online'] }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-danger text-white rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Оборудование считается оффлайн, если не отбивалось последние 15 минут (включая оффлайн >72 часов)">
                                    <i class="bi bi-power"></i> Оффлайн
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ wialon['offline'] }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-warning text-dark rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Оборудование оффлайн более 72 часов">
                                    <i class="bi bi-clock-history"></i> >72 часов
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ wialon['offline_over_48'] }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-secondary text-white rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="ТС находится не там, где заложено в 1С">
                                    <i class="bi bi-search"></i> Розыск
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ distance }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-center">
                        <p class="text-center text-muted mt-3">Общее количество: {{ wialon['online'] + wialon['offline'] }}</p>
                        <p class="text-center text-muted mt-3">Последнее обновление: {{ connections['last_wialon'] | unix_to_datetime }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if cesar_access == True %}
    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-theme-primary text-theme-secondary d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Оборудование Cesar</h3>
                    <i class="bi bi-cpu"></i>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-6 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-success text-white rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Оборудование считается онлайн, если отбивалось последние 12 дней">
                                    <i class="bi bi-check-circle"></i> Активно
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ cesar['online'] }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header bg-danger text-white rounded-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Нет отбивки больше 12 дней">
                                    <i class="bi bi-exclamation-circle"></i> Оффлайн
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title display-6">{{ cesar['offline'] }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-center">
                        <p class="text-center text-muted mt-3">Общее количество: {{ cesar['online'] + cesar['offline'] }}</p>
                        <p class="text-center text-muted mt-3">Последнее обновление: {{ connections['last_cesar'] | unix_to_datetime }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    });
</script>
{% endblock %}
