<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBI</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo_sbi.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include 'sbi/style.html' %}
</head>
<body>
    <button onclick="window.history.back()"
            style="position: absolute;
            left: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;">⬅ Назад</a>
    </button>
    <h2>Аналитика спецтехники</h2>

    <div class="charts-container">
        {% include 'sbi/pie_chart.html' %}
        {% include 'sbi/bar_chart.html' %}
    </div>
</body>
</html>
