{% extends 'main.html' %}

{% block title %}
В разработке
{% endblock %}

{% block body %}
<div class="container my-5 text-center">
    <div class="jumbotron p-5 rounded">
        <h1 class="display-3 text-primary">🚧 В разработке 🚧</h1>
        <p class="lead">Этот раздел ещё в пути, но мы готовим нечто захватывающее!</p>
        <hr class="my-4">
        <p>Мы усердно трудимся над тем, чтобы предоставить вам что-то классное. Скоро вы сможете насладиться новыми функциями и возможностями, которые мы готовим специально для вас.</p>
        <p class="mt-4">
            <a href="{{ url_for('main.home') }}" class="btn btn-primary btn-lg">Вернуться на главную</a>
        </p>
    </div>
</div>
{% endblock %}
