{% extends 'main.html' %}

{% block title %}
Отчеты
{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Wialon</h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="{{ url_for('main.download', report='wialon') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Весь транспорт
                            <span class="badge bg-success rounded-pill">Скачать</span>
                        </a>
                        <a href="{{ url_for('main.download', report='wialon_offline') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Давно offline (от 3 дней)
                            <span class="badge bg-success rounded-pill">Скачать</span>
                        </a>
                        <a href="{{ url_for('main.download', report='wialon_with_address') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Весь транспорт с адресом (очень тяжелый отчет)
                            <span class="badge bg-danger rounded-pill d-flex align-items-center">
                                <i class="bi bi-lock"></i>   Скачать
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Cesar Position</h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="{{ url_for('main.download', report='cesar') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Весь транспорт
                            <span class="badge bg-success rounded-pill">Скачать</span>
                        </a>
                        <a href="{{ url_for('main.download', report='cesar_offline') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Давно offline (от 3 дней)
                            <span class="badge bg-success rounded-pill">Скачать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">HealthReport</h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Сверка координат
                            <span class="badge bg-secondary rounded-pill">Скачать</span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Лоты без оборудования
                            <span class="badge bg-secondary rounded-pill">Скачать</span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Оборудование без лота
                            <span class="badge bg-secondary rounded-pill">Скачать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
