name: Build & Push
on: { push: { branches: [ main ] } }

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ghcr.io/kirapixel/flask-cm-spectr:latest

      - name: Trigger infra
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/KiraPixel/lksp-infra/actions/workflows/update-flask.yaml/dispatches \
            -d '{"ref": "main", "inputs": {"trigger_repo": "${{ github.repository }}", "trigger_sha": "${{ github.sha }}"}}'